.greyButton {
    background-color: #e0e0e0;
    color: black;
    border: 1px solid #9c9494;
}

.greyButton:hover {
    background-color: lightgrey;
}

.orangeButton {
    background-color: #f5923e;
    color: white;
    border: 1px solid #9c9494;
}

.orangeButton:hover {
    background-color: #ff9d47;
}

/*

Tre översta knapparna är lite gråare color-code: #d6d6d6
input background color-code: #999999

*/
.calculator {
	min-width: 300px;
	max-width: 300px;
	max-height: 400px;
	min-height: 400px;
    margin: 15%;
}

/*Top portion*/
.top.span.clear{
  float:left;
}

/*Insert shadow on the screen to create indent*/
.top.screen{
  height:40px;
  width:212px;
  float:right;
  padding:0 10px;
  background:rgba(0,0,0,0.2);
  border-radius:3px;
  box-shadow: inset 0px 4px rgba(0,0,0,0.2)
}

input {
	height: 100px;
	width: 100%;
}

button {
	height: 60px;
	font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

button {
    width: 100%;
    margin: 0;
}

.col-xs-3{
    padding: 0;
}

.col-xs-6{
    padding: 0;
}

.col-xs-12{
    padding: 0;
}

.text-left {
	text-align: left;
}

#input-field{
    background-color: #9c9494;
    padding: 0;
    border: none;
    font-size: 55px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100px;
    width: 100%;
    padding-top: 10%;
}


